In [1]:
d={}

In [2]:
type(d)

dict

In [3]:
d1={'Key':"sumo"}

In [4]:
d1

{'Key': 'sumo'}

In [5]:
d2= {"name":"suman" ,"email": "ss@gmail.com","number":8878668}

In [6]:
d2

{'name': 'suman', 'email': 'ss@gmail.com', 'number': 8878668}

In [7]:
d3={234:"sumo",'@war':"kumar",True:23425}

In [8]:
d3

{234: 'sumo', '@war': 'kumar', True: 23425}

In [9]:
d3[234]

'sumo'

In [10]:
d3[True]

23425

In [11]:
d3[1]

23425

In [12]:
d4={'name':"sumo",'mail_id':"ss@gmail","name":"verma"}

In [13]:
d4["name"]

'verma'

In [14]:
d5={"company":"myskills","course":["ewb dev","data science","java with dsa"]}

In [15]:
d5

{'company': 'myskills', 'course': ['ewb dev', 'data science', 'java with dsa']}

In [16]:
d5["course"][2]

'java with dsa'

In [17]:
d6={"number":[4,5,6,7,8],'assignment':(1,2,3,43,4,),"launch_date":{23,4,5,6,7} }

In [18]:
d5

{'company': 'myskills', 'course': ['ewb dev', 'data science', 'java with dsa']}

In [19]:
d6

{'number': [4, 5, 6, 7, 8],
 'assignment': (1, 2, 3, 43, 4),
 'launch_date': {4, 5, 6, 7, 23}}

In [20]:
d6['launch_date']

{4, 5, 6, 7, 23}

In [22]:
d6['mentor']=["suman","raju","krishna"]

In [23]:
d6

{'number': [4, 5, 6, 7, 8],
 'assignment': (1, 2, 3, 43, 4),
 'launch_date': {4, 5, 6, 7, 23},
 'mentor': ['suman', 'raju', 'krishna']}

In [24]:
d6.pop('mentor')

['suman', 'raju', 'krishna']

In [25]:
d6

{'number': [4, 5, 6, 7, 8],
 'assignment': (1, 2, 3, 43, 4),
 'launch_date': {4, 5, 6, 7, 23}}

In [26]:
del d6['number']

In [27]:
d6

{'assignment': (1, 2, 3, 43, 4), 'launch_date': {4, 5, 6, 7, 23}}

In [28]:
list(d6.keys())

['assignment', 'launch_date']

In [42]:
list(d6.values())
list(d6.items())

[('assignment', (1, 2, 3, 43, 4)), ('launch_date', {4, 5, 6, 7, 23})]

In [4]:
marks= int(input("enter your marks"))
if marks >=80:
    print("you wiil be part of A0 batch")
elif marks >= 60 and marks  <80:
    print("you wiil be part of A1 batch")
elif marks >= 40 and marks < 60 :
    print("you wiil be part of A2 batch")
else :
    print("you wiil be part of A3 batch")

you wiil be part of A0 batch

In [6]:
price= int(input("enter price"))
if price >1000 :
    print("i will not purchase")
else:
    print("i will  purchase")

i will  purchase

In [11]:
price= int(input("enter price"))
if price >1000 :
    print("i will not purchase")
if price >5000:
    print("this is too  much")
elif price < 2000:
    print("its okk")

i will not purchase
its okk

In [12]:
l =[1,2,3,4,5,6,7,8]

In [17]:
l1=[]
for i in l :
    print(i+1)
    l1.append(i+1)
    l1

2
3
4
5
6
7
8
9

In [18]:
l1

[2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
l=["sudh","kumar","pwskills","course"]

In [23]:
l1 =[]
for i in l:
    print(i)
    l1.append(i.upper())

sudh
kumar
pwskills
course

In [24]:
l1

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [25]:
l=[1,2,3,4,5,"sudh","kumar","abc",345,546,234]

In [26]:
l1_num = []
l2_str = []
for i in l :
    if type(i) == int or type(i) == float :
        l1_num.append(i)
    else:
        l2_str.append(i)

In [28]:
l1_num

[1, 2, 3, 4, 5, 345, 546, 234]

In [29]:
l2_str

['sudh', 'kumar', 'abc']