In [13]:
l=[1, 564, 45,"sumo", True, 5+8j,6765.7]

In [14]:
type(l)

list

In [15]:
l[2]

45

In [16]:
l[3]

'sumo'

In [17]:
l[::]

[1, 564, 45, 'sumo', True, (5+8j), 6765.7]

In [18]:
l[0:3]

[1, 564, 45]

In [19]:
l[-1]

6765.7

In [20]:
l[::-1]

[6765.7, (5+8j), True, 'sumo', 45, 564, 1]

In [21]:
l[::2]

[1, 45, True, 6765.7]

In [22]:
l[::3]

[1, 'sumo', 6765.7]

In [23]:
s="myskills"

In [24]:
l+s

TypeError: can only concatenate list (not "str") to list

In [29]:
list(s)+l

['m', 'y', 's', 'k', 'i', 'l', 'l', 's', 1, 564, 'sumo', True, (5+8j), 6765.7]

In [55]:
l

[1, 564, 45, 'sumo', True, (5+8j), 6765.7]

In [56]:
l[3]

'sumo'

In [58]:
type(l[3])

str

In [59]:
l[3][0:2]

'su'

In [61]:
l[4]

True

In [62]:
str(l[4])[0:2]

'Tr'

In [63]:
l1=[3,4,5]

In [64]:
l+l1

[1, 564, 45, 'sumo', True, (5+8j), 6765.7, 3, 4, 5]

In [65]:
l1

[3, 4, 5]

In [66]:
l1*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [67]:
len(l1)

3

In [68]:
len(l)

7

In [69]:
l

[1, 564, 45, 'sumo', True, (5+8j), 6765.7]

In [70]:
l.append(5)

In [71]:
l

[1, 564, 45, 'sumo', True, (5+8j), 6765.7, 5]

In [73]:
l.append(s)

In [74]:
l

[1, 564, 45, 'sumo', True, (5+8j), 6765.7, 5, 'myskills']

In [76]:
l.append(l1)

In [77]:
l

[1, 564, 45, 'sumo', True, (5+8j), 6765.7, 5, 'myskills', [3, 4, 5]]

In [80]:
l[-1][1]

4

In [81]:
l

[1, 564, 45, 'sumo', True, (5+8j), 6765.7, 5, 'myskills', [3, 4, 5]]

In [82]:
l.extend(4)

TypeError: 'int' object is not iterable

In [83]:
l.extend("sumo")

In [84]:
l

[1,
 564,
 45,
 'sumo',
 True,
 (5+8j),
 6765.7,
 5,
 'myskills',
 [3, 4, 5],
 's',
 'u',
 'm',
 'o']

In [86]:
l.extend([3,4,5])

In [87]:
l

[1,
 564,
 45,
 'sumo',
 True,
 (5+8j),
 6765.7,
 5,
 'myskills',
 [3, 4, 5],
 's',
 'u',
 'm',
 'o',
 3,
 4,
 5]

In [88]:

l1.insert(1,"suman")

In [89]:
l1

[3, 'suman', 4, 5]

In [91]:
l1.insert(2,[2,3,4,5])

In [92]:
l1

[3, 'suman', [2, 3, 4, 5], 4, 5]

In [93]:
l1.insert(-1,45)

In [94]:
l1

[3, 'suman', [2, 3, 4, 5], 4, 45, 5]

In [95]:
l1.insert(0,45)

In [96]:
l1

[45, 3, 'suman', [2, 3, 4, 5], 4, 45, 5]

In [97]:
l1.pop(3)

[2, 3, 4, 5]

In [98]:
l1

[45, 3, 'suman', 4, 45, 5]

In [99]:
l1.pop()

5

In [100]:
l1

[45, 3, 'suman', 4, 45]

In [102]:
l1.remove(4)

In [103]:
l1

[45, 3, 'suman', 45]

In [104]:
l1.remove(45)

In [105]:
l1

[3, 'suman', 45]

In [118]:
l1[1]

'suman'

In [126]:
l1.reverse()

In [127]:
l1

[45, 'suman', 3]

In [129]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [130]:
l2=[45,57,78,5,98,0,45,98,23,13]

In [131]:
l2.sort()

In [132]:
l2

[0, 5, 13, 23, 45, 45, 57, 78, 98, 98]

In [133]:
l3=[78,"sumo",56,78,"verma"]

In [134]:
l3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [135]:
l4=["ram","shyam","monu","golu"]

In [139]:
l4.sort(reverse=True)

In [138]:
l4

['golu', 'monu', 'ram', 'shyam']

In [140]:
l4

['shyam', 'ram', 'monu', 'golu']

In [141]:
l4.index('ram')

1

In [142]:
l4.count("ram")

1

In [171]:
s="sumo"

In [144]:
l5=[3,4,5,6]

In [146]:
s[0] ="a"

TypeError: 'str' object does not support item assignment

In [148]:
l5[0]= 30

In [149]:
l5

[30, 4, 5, 6]

In [186]:
s.replace('s','m')

'mumo'

In [187]:
s

'mumo'

In [189]:
t=(2,3,4,5,"sumo",45.50,False,45+67j,[3,4,5])

In [190]:
t

(2, 3, 4, 5, 'sumo', 45.5, False, (45+67j), [3, 4, 5])

In [191]:
type(t)

tuple

In [192]:
len(t)

9

In [193]:
t[0]

2

In [194]:
t[-1]

[3, 4, 5]

In [195]:
t[::-1]

([3, 4, 5], (45+67j), False, 45.5, 'sumo', 5, 4, 3, 2)

In [196]:
l4

['shyam', 'ram', 'monu', 'golu']

In [197]:
l4[0]

'shyam'

In [198]:
l4[0]=46556

In [199]:
l4

[46556, 'ram', 'monu', 'golu']

In [200]:
t[0]

2

In [201]:
t[0]="sumo"

TypeError: 'tuple' object does not support item assignment

In [202]:
t[::-1]

([3, 4, 5], (45+67j), False, 45.5, 'sumo', 5, 4, 3, 2)

In [203]:
t

(2, 3, 4, 5, 'sumo', 45.5, False, (45+67j), [3, 4, 5])

In [205]:
t.count(5)

1

In [207]:
t.index(False)

6

In [208]:
s1={}

In [209]:
type(s1)

dict

In [210]:
s2={2,3,4,5,6,7}

In [211]:
type(s2)

set

In [212]:
s3={34,5,6,7,7,8,"ram",45,67,87,(4,5,6,7,8,)}

In [213]:
s3

{(4, 5, 6, 7, 8), 34, 45, 5, 6, 67, 7, 8, 87, 'ram'}

In [29]:
s4={2,3,4,5,6,7,6,54,34,5,6,7,8,9,"sudh","Sudh"}

In [30]:
s4

{2, 3, 34, 4, 5, 54, 6, 7, 8, 9, 'Sudh', 'sudh'}

In [31]:
s4

{2, 3, 34, 4, 5, 54, 6, 7, 8, 9, 'Sudh', 'sudh'}

In [32]:
l6=[2, 3, 34, 4, 5, 54, 6, 7, 8, 9,2,3,4,5,6, 'Sudh', 'sudh']

In [33]:
l6

[2, 3, 34, 4, 5, 54, 6, 7, 8, 9, 2, 3, 4, 5, 6, 'Sudh', 'sudh']

In [34]:
l6=list(set(l6))

In [35]:
l6

[2, 3, 34, 5, 4, 6, 7, 8, 9, 'Sudh', 54, 'sudh']

In [36]:
l6

[2, 3, 34, 5, 4, 6, 7, 8, 9, 'Sudh', 54, 'sudh']

In [37]:
l5

NameError: name 'l5' is not defined

In [231]:
l5[0]

30

In [232]:
s4

{2, 3, 34, 4, 5, 54, 6, 7, 8, 9, 'Sudh', 'sudh'}

In [233]:
s4[0]

TypeError: 'set' object is not subscriptable

In [234]:
s4[::-1]

TypeError: 'set' object is not subscriptable

In [235]:
s4.add(40)

In [236]:
s4

{2, 3, 34, 4, 40, 5, 54, 6, 7, 8, 9, 'Sudh', 'sudh'}

In [237]:
s4.remove(2)

In [38]:
s4

{2, 3, 34, 4, 5, 54, 6, 7, 8, 9, 'Sudh', 'sudh'}